<!DOCTYPE html>
<html>
<head>
    <title>BootStrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css"  type="text/css">
    <link rel="stylesheet" href="/public/stylesheets/index.css"  type="text/css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top"></div>


    <script src="/public/javascripts/bootstrap.min.js"></script>
    <script src="/public/javascripts/bootstrap.js"></script>
</body>
</html>