//CopyRight Tag Solutions pvt.ltd 2013
doctype 5
html
    head(lang="en")
        title LSR
        link(rel='stylesheet', href='/stylesheets/main.css')
        script(type='text/javascript', src='/javascripts/jquery-1.7.1.js')
    body
        div#container
            div#header
                div#logo
                    a(href='/',style="text-decoration:none") LSR
            div#fb-root
            div#sub_container
                div#id_login
                    div#hr_login
                        p Sign Up
                    form#form(method="post", action="/signedup")
                        div#form-div
                            label Email
                            input#email(type="email", name="email")
                            label Password
                            input#password(type="password", name="password")
                            label First Name
                            input#password(type="text", name="firstName")
                            label Last Name
                            input#password(type="text", name="lastName")
                        div#button
                            input#submit(type="submit", value="Sign up")
                            //input#logout(type="submit", value="Logout")
                            //p
                                a Forgot password?
                //div#social_network
                    div#social_link
                        a#twitter
                            div#twitter_text Log in with Twitter
                        a#login(href="/fbauth")
                            div#facebook_text Log in with Facebook
                        a#linkedin
                            div#linkedin_text Log in with LinkedIn
                //div#signup
                    p Need an account?
                        a(href="/signup") Sign Up
                script.
                    //AJax Request for sending mail
                        $("#form").submit(function(){
                        $.post('signedup',$("#form").serialize(), function(data){
                            $("#username").html(data);
                        //window.location.replace("https://localhost:3030/login");
                        console.log("redrecting");
                        });
                        return false;
                        });
